{% extends "base.html" %}
{% load static %}
{% block content %}


<section class="generic-banner" style="height: 100px;"></section>
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                   
               
                </div>							
            </div>
        </div>
    </div>
</section>

    <section class="about-generic-area section-gap">
        <div class="container border-top-generic">
            
                <article class="article-recent">
                    <div class="article-recent-main">
                        <h1 style="color: red;">More Details</h1>
                        <label for="head1" id="labels" style="color: red;font-size: 20px;font-weight: bold;">Name:</label>
                        <input type="text" class="article-title" name="head" value="{{ objs.head }}" style="width: 322px;font-size: 16px; color: blue;"><br><br>
                        <label for="area" id="labels" style="color: red;font-size: 20px;font-weight: bold;">Details:</label><br>
                        <textarea name="para" rows="6" cols="50" class="article-body" style="font-size: 16px; color: blue;">{{ objs.para }}</textarea>
            
                        <div class="article-recent-secondary"><br>
                            {% if objs.coverphoto %}
                            <!-- <label for="currentimage" id="labels">Current Image:</label> -->
                            <img id="currentimage" src="{{ objs.coverphoto.url }}" alt="Current Image" width="393px" height="250px">
                            {% endif %}
                            
                        </div>
                    </div>
                </article>
              
        </div>
    </section>



</article>
{% endblock %}